In [19]:
import plotly.graph_objects as go
import pandas as pd
from plotly.offline import plot

In [13]:
df = pd.read_csv('AMZN.csv')
df.head()

         Date     Open     High        Low    Close  Adj Close    Volume
0  2000-01-03  81.5000  89.5625  79.046875  89.3750    89.3750  16117600
1  2000-01-04  85.3750  91.5000  81.750000  81.9375    81.9375  17487400
2  2000-01-05  70.5000  75.1250  68.000000  69.7500    69.7500  38457400
3  2000-01-06  71.3125  72.6875  64.000000  65.5625    65.5625  18752000
4  2000-01-07  67.0000  70.5000  66.187500  69.5625    69.5625  10505400

In [14]:
df = df.set_index(pd.DatetimeIndex(df['Date'].values))

In [15]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
2000-01-03,2000-01-03,81.5000,89.5625,79.046875,89.3750,89.3750,16117600
2000-01-04,2000-01-04,85.3750,91.5000,81.750000,81.9375,81.9375,17487400
2000-01-05,2000-01-05,70.5000,75.1250,68.000000,69.7500,69.7500,38457400
2000-01-06,2000-01-06,71.3125,72.6875,64.000000,65.5625,65.5625,18752000
2000-01-07,2000-01-07,67.0000,70.5000,66.187500,69.5625,69.5625,10505400

In [22]:
figure = go.Figure(
    data = [
        go.Candlestick(
            x = df.index,
            low = df['Low'],
            high = df['High'],
            open = df['Open'],
            close = df['Close'],
            increasing_line_color = 'green',
            decreasing_line_color = 'red'
        )
    ]
)

plot(figure)

'temp-plot.html'